<div class="container">
  <div class="row">
    <div class="col">
      <h1>Products</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button (click)="update()" type="button" class="btn btn-primary mb-2">
        Add product
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Price</th>
              <th scope="col">Company</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.ageRestriction }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.company }}</td>
              <td>
                <button
                  (click)="update(product.id)"
                  type="button"
                  class="btn btn-link"
                >
                  Update
                </button>
                <button
                  (click)="delete(product)"
                  type="button"
                  class="btn btn-link"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
