<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ modalTitle }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.dismiss(dismissResult)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong
      >Are you sure you want to delete
      <span class="text-primary">{{ itemDescription }}</span
      >{{ itemType }}?</strong
    >
  </p>
  <p>
    All information associated will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss(dismissResult)"
  >
    Cancel
  </button>
  <button
    type="button"
    ngbAutofocus
    class="btn btn-danger"
    (click)="modal.close(confirmResult)"
  >
    Ok
  </button>
</div>
