<div *ngIf="showServerError" class="row">
    <div class="col">
        <ngb-alert type="danger" (close)="closeAlert('error')" >
            <strong>Sorry!</strong> We're having trouble connecting the server.
        </ngb-alert>
    </div>
</div>

<div *ngIf="showSuccess" class="row">
    <div class="col">
        <ngb-alert type="success" (close)="closeAlert('success')" >
            The product has been saved.
        </ngb-alert>
    </div>
</div>
