<div class="form-group">
    <label [for]="formControlName.name">{{ label }}</label>
    <div class="input-group">
        <ng-content></ng-content>
        <div *ngFor="let errorMessage of errorMessages" class="invalid-feedback">
            {{ errorMessage }}
        </div>
    </div>
</div>