﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title - Stock Management Client</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @Styles.Render("~/styles/angular")
</head>
<body>
  @RenderBody()

  @Scripts.Render("~/scripts/angular")
  @RenderSection("scripts", required: false)
</body>
</html>
