<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Product</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-product-form [productId]="productId"></app-product-form>
</div>
<div class="modal-footer">
  <button 
    type="button"
    class="btn btn-success"
    (click)="mainButtonAction()"
  >
    {{ mainButtonText }}
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.close()"
  >
    Cancel
  </button>
</div>
