<form [formGroup]="productForm" (ngSubmit)="submit()">
  <app-bootstrap-form-control label="Name">
    <input id="name" formControlName="name" type="text" [ngClass]="" />
  </app-bootstrap-form-control>

  <app-bootstrap-form-control label="Price">
    <input id="price" formControlName="price" type="number" [ngClass]="" />
  </app-bootstrap-form-control>

  <app-bootstrap-form-control label="Company">
    <input id="company" formControlName="company" type="text" [ngClass]="" />
  </app-bootstrap-form-control>

  <app-bootstrap-form-control label="Maximum Age">
    <input
      id="ageRestriction"
      formControlName="ageRestriction"
      type="number"
      min="0"
      max="100"
      [ngClass]=""
    />
  </app-bootstrap-form-control>

  <app-bootstrap-form-control label="Description">
    <textarea
      id="description"
      formControlName="description"
      [ngClass]=""
    ></textarea>
  </app-bootstrap-form-control>

  <app-product-form-alerts
    [showServerError]="showError"
    [showSuccess]="showSuccess"
    (onCloseAlert)="closeAlert()"
  >
  </app-product-form-alerts>
</form>
